<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ExpressSensorWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginVerify</servlet-name>
    <servlet-class>info.ericyue.web.servlet.LoginVerify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginVerify</servlet-name>
    <url-pattern>/servlet/LoginVerify</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuerySystemInfo</servlet-name>
    <servlet-class>info.ericyue.web.servlet.QuerySystemInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuerySystemInfo</servlet-name>
    <url-pattern>/servlet/QuerySystemInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryStatistics</servlet-name>
    <servlet-class>info.ericyue.web.servlet.QueryStatistics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStatistics</servlet-name>
    <url-pattern>/servlet/QueryStatistics</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryTradeInfo</servlet-name>
    <servlet-class>info.ericyue.web.servlet.QueryTradeInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryTradeInfo</servlet-name>
    <url-pattern>/servlet/QueryTradeInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryRole</servlet-name>
    <servlet-class>info.ericyue.web.servlet.QueryRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryRole</servlet-name>
    <url-pattern>/servlet/QueryRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryUser</servlet-name>
    <servlet-class>info.ericyue.web.servlet.QueryUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryUser</servlet-name>
    <url-pattern>/servlet/QueryUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GPSPost</servlet-name>
    <servlet-class>info.ericyue.web.servlet.GPSPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPSPost</servlet-name>
    <url-pattern>/servlet/GPSPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUserCurrentLocation</servlet-name>
    <servlet-class>info.ericyue.web.servlet.GetUserCurrentLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserCurrentLocation</servlet-name>
    <url-pattern>/servlet/GetUserCurrentLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryForSend</servlet-name>
    <servlet-class>info.ericyue.web.servlet.QueryForSend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryForSend</servlet-name>
    <url-pattern>/servlet/QueryForSend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCurrentUserLocation</servlet-name>
    <servlet-class>info.ericyue.web.servlet.DeleteCurrentUserLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCurrentUserLocation</servlet-name>
    <url-pattern>/servlet/DeleteCurrentUserLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserCurrentLocation</servlet-name>
    <servlet-class>info.ericyue.web.servlet.UpdateUserCurrentLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserCurrentLocation</servlet-name>
    <url-pattern>/servlet/UpdateUserCurrentLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryWorkerCurrentLocation</servlet-name>
    <servlet-class>info.ericyue.web.servlet.QueryWorkerCurrentLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryWorkerCurrentLocation</servlet-name>
    <url-pattern>/servlet/QueryWorkerCurrentLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryBaseInfo</servlet-name>
    <servlet-class>info.ericyue.web.servlet.QueryBaseInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryBaseInfo</servlet-name>
    <url-pattern>/servlet/QueryBaseInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateTradeStatus</servlet-name>
    <servlet-class>info.ericyue.web.servlet.UpdateTradeStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTradeStatus</servlet-name>
    <url-pattern>/servlet/UpdateTradeStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetWorkerGPSInfo</servlet-name>
    <servlet-class>info.ericyue.web.servlet.GetWorkerGPSInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetWorkerGPSInfo</servlet-name>
    <url-pattern>/servlet/GetWorkerGPSInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStatistics</servlet-name>
    <servlet-class>info.ericyue.web.servlet.UpdateStatistics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatistics</servlet-name>
    <url-pattern>/servlet/UpdateStatistics</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCash</servlet-name>
    <servlet-class>info.ericyue.web.servlet.UpdateCash</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCash</servlet-name>
    <url-pattern>/servlet/UpdateCash</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SentMsgDone</servlet-name>
    <servlet-class>info.ericyue.web.servlet.SentMsgDone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentMsgDone</servlet-name>
    <url-pattern>/servlet/SentMsgDone</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateMsgDone</servlet-name>
    <servlet-class>info.ericyue.web.servlet.UpdateMsgDone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMsgDone</servlet-name>
    <url-pattern>/servlet/UpdateMsgDone</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryUserInfo</servlet-name>
    <servlet-class>info.ericyue.web.servlet.QueryUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryUserInfo</servlet-name>
    <url-pattern>/servlet/QueryUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryTradeProcessed</servlet-name>
    <servlet-class>info.ericyue.web.servlet.QueryTradeProcessed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryTradeProcessed</servlet-name>
    <url-pattern>/servlet/QueryTradeProcessed</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateTradeProcessed</servlet-name>
    <servlet-class>info.ericyue.web.servlet.UpdateTradeProcessed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTradeProcessed</servlet-name>
    <url-pattern>/servlet/UpdateTradeProcessed</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>info.ericyue.web.listener.ContextListener</listener-class>
  </listener>
</web-app>